body{
	padding-top: 150px
}
.page{
	background: url(../images/bg.jpg);
	position: fixed;
	width: 100%;
	height: 100%;
}

.wrapp{
	margin-top: -150px;
}

nav{
	box-shadow: none;
}

.logo{
	width: 150px;
}

.btn-small {
    margin: 0 10px !important;
    border-radius: 10px;
}