html{
	background-color: red;
}

#all{
	background-color: red;
}

.container{
	background-color: white;
}

header{
	margin-bottom: 10px;
	padding-top: 15px;
}

.logo img{
	width: 150px;
}

.menu{
	background-color: #dedede;
}

.menu li{
	background-color: #6ef2f7;
	margin: 10px 20px;
}

.menu li:hover{
	background-color: white;
	margin: 10px 20px;
}

.menu ul li a{
	color: black;
}

.redes img{
	width: 25px; 
	bottom:0;
}

.content-img img{
	width: 100%;
}

.user img{
	width: 100%;
}