*{
	margin: 0;
	padding: 0;
}

#all{
	background-color: red;
}

.container{
	background-color: white;
}

header{
	background-color: whiteSmoke;
	margin-bottom: 10px;
	padding-top: 15px;
}

.logo img{
	width: 150px;
}

.nav{
	background-color: #dedede;
}

.nav li{
	background-color: #6ef2f7;
	margin: 10px 20px;
}

.nav a{
	color: black;
}

.redes img{
	width: 25px; 
	bottom:0;
}

.content-img img{
	width: 100%;
}

.user img{
	width: 100%;
}