div{
  border: 0;
}

.images{
	padding: 5px;
}

body{
	background: url(../imagees/bg.jpg);
	background-size: cover;
}

.page{
	background-color: #147cc0b8;
}

.second{
	background-color: #eee;
}
.third{
	background-color: #f1f1f1;
}