div{
  border: 0;
}

.images{
	padding: 5px;
}

body{
	background: url(../imagees/bg.jpg);
	color:white;
}

.page{
	background-color: #147cc073;
    padding: 15px;
}

h1{
	margin: 0;
}

.menu a {color: black; text-decoration:underline}

.second{
	background-color: #d6fd00cf;
	padding-top: 15px;
}

.comentarios div{
	border: 1px solid #061e2f;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

.comentarios img{
	width: 50px;
}

textarea{
	border: 0;
	margin-top: 10px;
}

input.button {
    background: #591f92;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px #591f92;
}

.entrada{
	margin-bottom: 	15px;
	background-color: #da1616ab;
	padding-bottom: 15px;
}

